html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Gothic A1', -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-size: 14px;
  background: $dark-shade;
  color: $light-shade;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
