.project_card {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background: lighten($dark-shade, 9%);
  padding: 30px;

  >*:not(:last-child) {
    margin-bottom: 15px;
  }
}
